<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrusel 3D de Imágenes Interactivo</title>
    <link rel="stylesheet" href="../css/carrucel.css" />
  </head>
  <body>
    <div class="carousel">
      <div class="carousel__item">
        <a href="reservasBgta.html">
          <img
            src="../image/bogota.jpeg"
            alt="Imagen 1"
            width="200"
            height="100"
          />
          <h2>¡Haz tu reserva aquí! hotel la calera Bogota colombia</h2>
        </a>
      </div>
      <div class="carousel__item">
        <a href="reservasCali.html">
          <img src="../image/.jpeg" alt="Imagen 2" />
          <h2>¡Haz tu reserva aquí! hotel caña dulce Cali</h2>
        </a>
      </div>
      <div class="carousel__item">
        <a href="reservasMedellin.html">
          <img src="../image/medelli.jpeg" alt="Imagen 3" />
          <h2>¡Haz tu reserva aquí! hotel el peñol Medellin</h2>
        </a>
      </div>
    </div>
  </body>
   
</html>
